In [3]:
import cv2
import numpy as np
import pandas as pd
import warnings 
warnings.filterwarnings('ignore')

In [2]:
v2=cv2.VideoCapture(0)
count=0
while True:
    count=count+1
    su,img6=v2.read()
    print(su)
    cv2.imshow("video",img6)
    cv2.imwrite(r'C:\Users\Gogula Vinay\Desktop\Innomatics labs\Data Science\Machine Learning\ML day 5 assignment\Fives\{}.jpg'.format(count),img6)
    if cv2.waitKey(1)==ord("a"):
        break
cv2.destroyAllWindows()

True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True

In [ ]:
# Using the ave code we are going to conver the video in images.

In [ ]:
# DF For ones

In [4]:
url=r"C:\Users\Gogula Vinay\Desktop\Innomatics labs\Data Science\Machine Learning\ML day 5 assignment\Ones"
x1=[]
for i in range(1,230):
    x1.append(url+'\\'+str(i)+'.jpg')

In [5]:
l1=[]
for i in x1:
    image=cv2.imread(i)
    image=cv2.resize(image,(100,100))
    l1.append(image.flatten().tolist())

In [6]:
oneimg=pd.DataFrame(l1)
oneimg['label']='one'
oneimg

,0,1,2,3,4,5,6,7,8,9,...,29991,29992,29993,29994,29995,29996,29997,29998,29999,label
0,85,93,92,83,94,92,83,92,91,81,...,0,9,9,6,11,14,0,6,9,one
1,118,123,122,118,124,123,123,122,122,125,...,17,21,26,18,21,26,16,21,24,one
2,118,123,122,118,124,123,123,122,122,125,...,17,21,26,18,21,26,16,21,24,one
3,124,121,123,123,123,125,119,123,124,124,...,15,21,20,12,20,19,5,20,22,one
4,124,121,123,123,123,125,119,123,124,124,...,15,21,20,12,20,19,5,20,22,one
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,199,202,200,196,201,200,196,200,199,201,...,60,72,77,54,73,78,51,73,78,one
225,194,199,198,199,206,205,194,202,201,198,...,56,71,83,54,72,83,57,73,86,one
226,194,199,198,199,206,205,194,202,201,198,...,56,71,83,54,72,83,57,73,86,one
227,197,198,198,197,202,201,197,202,201,196,...,58,71,77,57,73,79,59,73,81,one
228,197,198,198,197,202,201,197,202,201,196,...,58,71,77,57,73,79,59,73,81,one

In [112]:
#  DF for Two's

In [7]:
url=r"C:\Users\Gogula Vinay\Desktop\Innomatics labs\Data Science\Machine Learning\ML day 5 assignment\Two"
x2=[]
for i in range(1,217):
    x2.append(url+'\\'+str(i)+'.jpg')

In [8]:
l1=[]
for i in x2:
    image=cv2.imread(i)
    image=cv2.resize(image,(100,100))
    l1.append(image.flatten().tolist())

In [9]:
twoimg=pd.DataFrame(l1)
twoimg['label']='two'
twoimg

,0,1,2,3,4,5,6,7,8,9,...,29991,29992,29993,29994,29995,29996,29997,29998,29999,label
0,74,79,78,75,80,79,75,78,78,74,...,0,0,10,0,1,9,0,0,7,two
1,106,103,105,106,103,105,106,103,105,107,...,8,9,9,11,7,12,6,8,9,two
2,105,102,104,103,102,104,104,101,103,106,...,5,6,15,6,5,14,0,8,11,two
3,105,102,104,103,102,104,104,101,103,106,...,5,6,15,6,5,14,0,8,11,two
4,143,142,142,145,145,145,145,144,145,150,...,21,20,25,21,20,24,22,24,25,two
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211,174,169,175,172,170,172,171,171,171,175,...,13,30,29,23,31,30,21,29,27,two
212,174,169,175,172,170,172,171,171,171,175,...,13,30,29,23,31,30,21,29,27,two
213,170,169,171,173,172,174,172,171,173,176,...,18,27,26,24,30,31,15,27,31,two
214,170,169,171,173,172,174,172,171,173,176,...,18,27,26,24,30,31,15,27,31,two
215,173,171,171,176,173,175,174,172,174,179,...,31,31,33,29,30,31,24,31,28,two

In [116]:
# DF for 3

In [10]:
url=r"C:\Users\Gogula Vinay\Desktop\Innomatics labs\Data Science\Machine Learning\ML day 5 assignment\Three"
x3=[]
for i in range(1,215):
    x3.append(url+'\\'+str(i)+'.jpg')

In [11]:
l1=[]
for i in x3:
    image=cv2.imread(i)
    image=cv2.resize(image,(100,100))
    l1.append(image.flatten().tolist())

In [12]:
threeimg=pd.DataFrame(l1)
threeimg['label']='three'
threeimg

,0,1,2,3,4,5,6,7,8,9,...,29991,29992,29993,29994,29995,29996,29997,29998,29999,label
0,92,100,100,90,100,100,86,99,99,87,...,18,27,37,14,26,38,10,24,35,three
1,129,133,131,128,130,130,129,129,130,131,...,38,44,43,31,42,40,25,42,41,three
2,131,131,131,130,130,130,131,129,131,133,...,42,44,44,36,41,42,31,42,44,three
3,131,131,131,130,130,130,131,129,131,133,...,42,44,44,36,41,42,31,42,44,three
4,173,174,174,175,175,175,169,171,171,173,...,58,67,66,51,59,59,48,59,63,three
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209,194,196,196,195,197,197,192,195,193,194,...,62,68,68,56,61,62,48,60,62,three
210,198,204,202,193,198,196,191,196,195,196,...,59,67,67,54,64,61,51,62,61,three
211,198,204,202,193,198,196,191,196,195,196,...,59,67,67,54,64,61,51,62,61,three
212,195,200,199,192,197,196,190,195,195,192,...,58,64,63,57,62,65,54,61,65,three
213,195,200,199,192,197,196,190,195,195,192,...,58,64,63,57,62,65,54,61,65,three

In [120]:
# DF for 4

In [13]:
url=r"C:\Users\Gogula Vinay\Desktop\Innomatics labs\Data Science\Machine Learning\ML day 5 assignment\Fours"
x4=[]
for i in range(1,256):
    x4.append(url+'\\'+str(i)+'.jpg')

In [14]:
l1=[]
for i in x4:
    image=cv2.imread(i)
    image=cv2.resize(image,(100,100))
    l1.append(image.flatten().tolist())

In [15]:
fourimg=pd.DataFrame(l1)
fourimg['label']='four'
fourimg

,0,1,2,3,4,5,6,7,8,9,...,29991,29992,29993,29994,29995,29996,29997,29998,29999,label
0,90,97,97,92,98,103,89,96,99,90,...,0,0,10,0,0,12,0,0,12,four
1,128,128,128,129,129,129,126,128,127,128,...,7,10,10,5,12,15,2,8,13,four
2,131,129,129,131,131,131,127,127,127,124,...,4,8,8,7,8,12,10,5,12,four
3,131,129,129,131,131,131,127,127,127,124,...,4,8,8,7,8,12,10,5,12,four
4,166,172,167,174,175,173,170,171,170,171,...,22,28,26,16,27,25,12,26,22,four
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250,180,183,181,186,188,188,184,184,186,185,...,30,29,30,36,33,35,41,38,40,four
251,180,183,181,186,188,188,184,184,186,185,...,30,29,30,36,33,35,41,38,40,four
252,181,186,184,183,188,187,179,181,181,179,...,26,30,28,29,33,30,36,40,38,four
253,181,186,184,183,188,187,179,181,181,179,...,26,30,28,29,33,30,36,40,38,four
254,182,185,184,182,188,187,180,185,184,176,...,22,30,29,22,31,32,28,38,37,four

In [124]:
# DF for 5

In [16]:
url=r"C:\Users\Gogula Vinay\Desktop\Innomatics labs\Data Science\Machine Learning\ML day 5 assignment\Fives"
x5=[]
for i in range(1,256):
    x5.append(url+'\\'+str(i)+'.jpg')

In [17]:
l1=[]
for i in x5:
    image=cv2.imread(i)
    image=cv2.resize(image,(100,100))
    l1.append(image.flatten().tolist())

In [18]:
fiveimg=pd.DataFrame(l1)
fiveimg['label']='five'
fiveimg

,0,1,2,3,4,5,6,7,8,9,...,29991,29992,29993,29994,29995,29996,29997,29998,29999,label
0,79,86,86,78,86,86,75,82,85,80,...,0,0,9,0,1,9,0,0,6,five
1,110,113,111,111,113,113,106,107,107,111,...,9,6,12,8,3,11,9,6,9,five
2,111,108,110,111,111,113,106,107,108,104,...,4,3,6,1,2,6,3,3,9,five
3,111,108,110,111,111,113,106,107,108,104,...,4,3,6,1,2,6,3,3,9,five
4,155,152,154,154,154,154,147,151,150,148,...,9,20,18,18,20,21,19,19,19,five
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250,203,208,206,205,210,208,199,204,202,207,...,87,103,107,88,105,108,86,102,108,five
251,203,208,206,205,210,208,199,204,202,207,...,87,103,107,88,105,108,86,102,108,five
252,207,204,206,207,206,208,204,205,206,207,...,91,103,109,91,103,109,92,102,110,five
253,207,204,206,207,206,208,204,205,206,207,...,91,103,109,91,103,109,92,102,110,five
254,202,206,207,204,206,207,206,206,207,205,...,92,105,107,82,101,108,84,101,109,five

In [19]:
finaldf=pd.concat([oneimg,twoimg,threeimg,fourimg,fiveimg])

In [20]:
finaldf

,0,1,2,3,4,5,6,7,8,9,...,29991,29992,29993,29994,29995,29996,29997,29998,29999,label
0,85,93,92,83,94,92,83,92,91,81,...,0,9,9,6,11,14,0,6,9,one
1,118,123,122,118,124,123,123,122,122,125,...,17,21,26,18,21,26,16,21,24,one
2,118,123,122,118,124,123,123,122,122,125,...,17,21,26,18,21,26,16,21,24,one
3,124,121,123,123,123,125,119,123,124,124,...,15,21,20,12,20,19,5,20,22,one
4,124,121,123,123,123,125,119,123,124,124,...,15,21,20,12,20,19,5,20,22,one
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250,203,208,206,205,210,208,199,204,202,207,...,87,103,107,88,105,108,86,102,108,five
251,203,208,206,205,210,208,199,204,202,207,...,87,103,107,88,105,108,86,102,108,five
252,207,204,206,207,206,208,204,205,206,207,...,91,103,109,91,103,109,92,102,110,five
253,207,204,206,207,206,208,204,205,206,207,...,91,103,109,91,103,109,92,102,110,five
254,202,206,207,204,206,207,206,206,207,205,...,92,105,107,82,101,108,84,101,109,five